<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container-fluid" sec:authorize="isAuthenticated()">

        <div class="container">

            <h1 class="display-4" th:text="${poll.name}"></h1>
        <table class="table table-striped">

            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Gender</th>
                <th scope="col">Group</th>
                <th scope="col">Interests</th>
                <th scope="col">Answer</th>


            </tr>
            </thead>
            <tbody>
            <tr th:each="profile : ${profileList}">
                <td th:text="${profile.username}">Username</td>
                <td th:text="${profile.firstname}">Firstname</td>
                <td th:text="${profile.lastname}">Lastname</td>
                <td th:text="${profile.birthDate}">BirthDate</td>
                <td th:text="${profile.gender}">Gender</td>
                <td th:text="${profile.group.name}">Group</td>
                <td th:text="${profile.interests}">Interests</td>
                <td th:text="${profile.getOptions()[0].name}">Answer</td>
            </tr>
            </tbody>
        </table>


        </div>

    </div>



</body>
</html>