<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="col-6 p-5 text-center bg-light">
        <h1 class="mb-5">Sign-up</h1>

        <form class="form" th:method="POST" th:object="${profile}" th:action="@{/profile/new/register}">
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example1" class="form-control" placeholder="Firstname" th:field="*{firstname}" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="form3Example2" class="form-control" placeholder="Lastname" th:field="*{lastname}" required>
                    </div>
                </div>
            </div>
            <div class="form-outline mb-4">
                <input type="date" id="form3Example5" class="form-control" th:field="*{birthDate}" min="1920-01-01" th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
            </div>
            <div class="row mb-4">
                <div class="col" th:each="eachGender : ${T(com.thirdparty.votingapp.internal.repository.model.Gender).values()}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="eachGender" id="exampleRadios1"
                               th:field = "*{gender}" th:value="${eachGender}">
                        <label class="form-check-label" for="exampleRadios1" th:text="${eachGender}"></label>
                    </div>
                </div>
            </div>
            <div class="form-outline mb-4">
                <select size="1" class="form-control" th:field="*{group}">
                    <option class="option" th:each="group: ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
                </select>
            </div>
            <div class="form-outline mb-4">
                <input type="text" id="form3Example3" class="form-control" placeholder="Username" th:field="*{username}">
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" placeholder="Password" th:field="*{password}">
            </div>
            <input type="submit" class="btn btn-primary btn-block col-3 mb-4" value="Submit">
        </form>
    </div>
</div>
</body>
</html>